<div class="tabs <%= @tabs_opts %>" id="<%= @tabs_group %>">
  <div class="container">
    <ul>
      <% environment["tabs-#{@tabs_group}"].each_with_index do |(key, value), index| %>
        <li<%= index == 0 ? ' class="is-active"' : ''%>
           data-tab="<%= @tabs_group + '-' + index.to_s %>">
          <a><span><%= key %></span></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div id="<%= @tabs_group %>-content">
  <div class="container box">
    <% environment["tabs-#{@tabs_group}"].each_with_index do |(key, value), index| %>
      <div<%= index == 0 ? ' class="is-active tab-content"' : ' class="tab-content"'%>
         data-content="<%= @tabs_group + '-' + index.to_s %>"><%= value %></div>
    <% end %>
  </div>
</div>
